# $verificationBytes = [byte[]]::new(32); $randomGenerator = [System.Security.Cryptography.RandomNumberGenerator]::Create(); $randomGenerator.GetBytes($verificationBytes); $randomGenerator.Dispose(); [Convert]::ToBase64String($verificationBytes)
# how to generate a random string in PowerShell for email verification secret 

STREAM_API_KEY=
STREAM_API_SECRET=
DATABASE_URL=postgresql://postgres:your-password@localhost:5432/boo_pet_care
JWT_EXPIRES_IN=3600
JWT_SECRET=
JWT_REFRESH_SECRET=
PORT=3000
ALLOWED_ORIGINS=http://localhost:3000
RESEND_API_KEY=
RESEND_FROM_EMAIL="Boo Pet Care <no-reply@quhira.co.ke>"
EMAIL_VERIFICATION_SECRET=
PASSWORD_RESET_SECRET=
ONESIGNAL_APP_ID=
ONESIGNAL_REST_API_KEY=
REVENUECAT_WEBHOOK_AUTH_TOKEN=
REVENUECAT_PROJECT_ID=
REVENUECAT_ALLOW_TEST_STORE=false
FRONTEND_URL= 
NODE_ENV=development
DATABASE_SYNCHRONIZE=true
